$white:#E6E6E6;
$dark:#3F3D56;
$blue:#6C63FE;
.event-container{
    background-color:$white;
    overflow-y: hidden;
    height: 100vh;
}
.event-svg{
    margin-top: 10%;
}

.event-card{
    height: 70vh;
    width: 98%;
    margin-left: 15ch;
    margin-top: 15vh;
   overflow: hidden;
   border-radius: 50px;
   background: #E6E6E6;
   box-shadow:  41px 41px 82px #c4c4c4, 
                -41px -41px 82px #ffffff;
   
}

.event-svg-container{
    overflow: hidden;
    text-align: center;
    margin-top: 5%;
    width: 90%;
}
.event-svg{
    width: 86%;
    margin-left: 14%;
}

.event-sub-card{
    padding: 2%;
}

@media (min-width: 1281px) and (max-width:1440px) {
    .event-svg{
        width: 80%;
        margin-left: 14%;
    }
}

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .event-svg{
        width: 70%;
        margin-left: 28%;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .event-container{
        overflow-y: scroll;
    }
    .event-svg{
        width: 80%;
    }
    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    .event-container{
        overflow-y: scroll;
    }
    .event-card{
        margin-top: 10%;
        height: 75vh;
        width: 90%;
        margin-left: 2.5ch;
    }
    .event-svg{
        transform: translateY(-30%);
    }
    .event-svg-container{
        height: 60vh;
    }
  }




// .image-container
// {
//     display:block;
//     position:relative;
// }

// .image-container
// {
//     display:block;
//     content:'';
//     position:absolute;
  
//     -moz-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
//     -webkit-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
//     box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
// }