$white:#E6E6E6;
$dark:#3F3D56;
$blue:#6C63FE;
.event-container{
    background-color:$white;
    overflow-y: hidden;
    height: 100vh;
}
.event-svg{
    margin-top: 10%;
}

.event-card{
    height: 65vh;
    width: 98%;
    margin-left: 15ch;
    margin-top: 20vh;
   overflow: hidden;
   border-radius: 50px;
   background: #E6E6E6;
   box-shadow:  41px 41px 82px #c4c4c4, 
                -41px -41px 82px #ffffff;
}

.event-h1{
    font-size: 2.5em;
}
.event-h3, .event-h2{
    font-size: 1.4em;
}
.event-p{
    font-size:1.3em;
}

.event-svg-container{
    overflow: hidden;
    text-align: center;
    margin-top: 5%;
    width: 90%;
}
.event-svg{
    width: 86%;
    margin-left: 14%;
}

.event-sub-card{
    padding: 2%;
}

@media (min-width: 1440) and (max-width:1921){
   
}
@media (min-width: 1281px) and (max-width:1440px) {
    .event-svg{
        width: 80%;
        margin-left: 14%;
    }
    .event-h1{
        font-size: 2.2em;
    }
    .event-h2{
        font-size: 1.3em;
    }
    .event-h3{
        font-size: 1.2em;
    }
    .event-p{
        font-size: 1em;
    }
}

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .event-svg{
        width: 70%;
        margin-left: 28%;
    }
    .event-h1{
        margin-left: 5%;
        font-size: 2em;
    }
    .event-h2{
        margin-left: 5%;
        font-size: 1.1em;
    }
    .event-h3{
        margin-left: 5%;
        font-size: 1em;
    }
    .event-p{
        margin-left: 7%;
        font-size: 1em;
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .event-container{
        overflow-y: scroll;
    }
    .event-svg{
        width: 80%;
    }
    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    .event-container{
        overflow-y: scroll;
    }
    .event-card{
        margin-top: 10%;
        height: 75vh;
        width: 90%;
        margin-left: 2.5ch;
    }
    .event-svg{
        transform: translateY(-30%);
    }
    .event-svg-container{
        height: 60vh;
    }
  }


