.root {
  float: 1;
}
.events {
  margin-left: 20%;
}
.error-note {
  margin-top: 5%;
  text-align: center;
}
.note {
  margin: 20%;
}
.empty {
  text-align: center;
  height: 80vh;
}
.link-profile {
  text-decoration: none;
  color: #6c63fe;
}
.profile-container {
  margin-left: 120px;
  margin-top: 7%;
}
@media only screen and (max-width: 35em) {
  .profile-container {
    height: 100vh;
    margin-top: 20%;
    padding-bottom: 0;
    margin-left: 3%;
  }
  .empty {
    width: 70%;
    height: 50vh;
  }
}
.faded {
  position: relative;
  display: inline-block;
  color: white;
}
.faded:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-collapse: separate;
}
.faded.faded-left:after {
  box-shadow: inset 40px 0 40px -16px;
}
.faded.faded-right:after {
  box-shadow: inset -40px 0 40px -16px;
}
.faded.faded-left.faded-right:after {
  box-shadow: inset 40px 0 40px -16px, inset -40px 0 40px -16px;
}
.faded.faded-left.faded-top:after {
  box-shadow: inset 40px 40px 40px -16px;
}
.faded.faded-right.faded-bottom:after {
  box-shadow: inset -40px -40px 40px -16px;
}
.faded.faded-top.faded-right:after {
  box-shadow: inset -40px 40px 40px -16px;
}
.faded.faded-left.faded-bottom:after {
  box-shadow: inset 40px -40px 40px -16px;
}
.faded.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -20px 0 40px 16px;
}
.faded.faded-left.faded-right.faded-bottom:after {
  box-shadow: inset 0 -20px 40px 16px;
}
.faded.faded-left.faded-top.faded-bottom:after {
  box-shadow: inset 20px 0 40px 16px;
}
.faded.faded-left.faded-top.faded-right:after {
  box-shadow: inset 0 20px 40px 16px;
}
.faded.faded-all:after,
.faded.faded-left.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset 0 0 40px 16px;
}
.faded.faded-narrow.faded-left:after {
  box-shadow: inset 20px 0 20px -10px;
}
.faded.faded-narrow.faded-right:after {
  box-shadow: inset -20px 0 20px -10px;
}
.faded.faded-narrow.faded-left.faded-right:after {
  box-shadow: inset 20px 0 20px -10px, inset -20px 0 20px -10px;
}
.faded.faded-narrow.faded-left.faded-top:after {
  box-shadow: inset 20px 20px 20px -10px;
}
.faded.faded-narrow.faded-right.faded-bottom:after {
  box-shadow: inset -20px -20px 20px -10px;
}
.faded.faded-narrow.faded-top.faded-right:after {
  box-shadow: inset -20px 20px 20px -10px;
}
.faded.faded-narrow.faded-left.faded-bottom:after {
  box-shadow: inset 20px -20px 20px -10px;
}
.faded.faded-narrow.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -10px 0 20px 10px;
}
.faded.faded-narrow.faded-left.faded-right.faded-bottom:after {
  box-shadow: inset 0 -10px 20px 10px;
}
.faded.faded-narrow.faded-left.faded-top.faded-bottom:after {
  box-shadow: inset 10px 0 20px 10px;
}
.faded.faded-narrow.faded-left.faded-top.faded-right:after {
  box-shadow: inset 0 10px 20px 10px;
}
.faded.faded-narrow.faded-all:after,
.faded.faded-narrow.faded-left.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset 0 0 20px 10px;
}
.faded.faded-wide.faded-left:after {
  box-shadow: inset 80px 0 80px -28px;
}
.faded.faded-wide.faded-right:after {
  box-shadow: inset -80px 0 80px -28px;
}
.faded.faded-wide.faded-left.faded-right:after {
  box-shadow: inset 80px 0 80px -28px, inset -80px 0 80px -28px;
}
.faded.faded-wide.faded-left.faded-top:after {
  box-shadow: inset 80px 80px 80px -28px;
}
.faded.faded-wide.faded-right.faded-bottom:after {
  box-shadow: inset -80px -80px 80px -28px;
}
.faded.faded-wide.faded-top.faded-right:after {
  box-shadow: inset -80px 80px 80px -28px;
}
.faded.faded-wide.faded-left.faded-bottom:after {
  box-shadow: inset 80px -80px 80px -28px;
}
.faded.faded-wide.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset -40px 0 80px 28px;
}
.faded.faded-wide.faded-left.faded-right.faded-bottom:after {
  box-shadow: inset 0 -40px 80px 28px;
}
.faded.faded-wide.faded-left.faded-top.faded-bottom:after {
  box-shadow: inset 40px 0 80px 28px;
}
.faded.faded-wide.faded-left.faded-top.faded-right:after {
  box-shadow: inset 0 40px 80px 28px;
}
.faded.faded-wide.faded-all:after,
.faded.faded-wide.faded-left.faded-top.faded-right.faded-bottom:after {
  box-shadow: inset 0 0 80px 28px;
}
