$dark:#1E1E30;
$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;
$blue-accent:#6C63FE;

$f1: 'Poppins', sans-serif;
.root{
    float: 1;
}
.events{
    margin-left: 20%;
}
.error-note{
    margin-top: 5%;
    text-align: center;
}

.note{
    margin: 20%;
}
.empty{
    text-align: center;
    height: 80vh;
}

.link-profile{
    text-decoration: none;
    color:$blue-accent;
}
.profile-container{
    margin-left: 120px;
    margin-top: 7%;
}

//tile
.root-title {
    max-width: 345px;
    background-color:"#1E1E30";
  }
  .white {
    color:"white"
  }
  .media {
    height: 0;
    padding-top: 56.25%
  }

@media only screen and (max-width: 35em){
    .profile-container{
        // overflow: hidden;
        // position: absolute;
        height: 100vh;
        margin-top: 20%;
        padding-bottom: 0;
        margin-left: 3%;
    }
    .empty{
        width: 70%;
        height: 50vh;
    }
    
}