
$white:#E6E6E6;
$dark:#3F3D56;
$blue:#6C63FE;
.notification-tile-container{
  margin-top:2%;
  flex:1;
  cursor:pointer;
  min-width:250px; 
  padding:4%; 
  font-family:"Poppins, sans-serif";
  color:$dark;
  border-radius: 31px;
  background: #E6E6E6;
  box-shadow:  22px 22px 44px #c4c4c4, 
             -22px -22px 44px #ffffff;
  height: 23vh;
}



// .noti-icons{
//   color: $blue;
// }