
$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;

$white:#E6E6E6;
$dark:#3F3D56;
$blue:#6C63FE;
$f1: 'Poppins', sans-serif;
.home-content-container{
    flex:1;
    margin-left:100px;
    height: 100vh;
    background-color: $white;
}
.home-container{
    overflow: hidden;
}
.leaflet-container{
    height: 100vh;
    width: 100%;
}
.map{
    height: 93vh;
    margin-top: 5vh;
    width: 98%;
}

.event-link{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .home-content-container{
        margin-left: 20px;
    }
    .home-container{
        overflow: scroll;
    }
}

@media (min-width: 1281px) and (max-width:1440px) {
    
}

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
   
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    
  }

