.home-content-container {
  flex: 1;
  margin-left: 100px;
  height: 100vh;
}
.leaflet-container {
  height: 100vh;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .home-content-container {
    margin-left: 20px;
  }
}
