$dark:#1E1E30;
$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;
$f1: 'Poppins', sans-serif;
.home-content-container{
    flex:1;
    margin-left:100px;
    height: 100vh;
}
.home-container{
    overflow: hidden;
}
.leaflet-container{
    height: 100vh;
    width: 100%;
}
.map{
    height: 93vh;
    margin-top: 5vh;
    width: 98%;
}

@media only screen and (max-width: 600px) {
    .home-content-container{
        margin-left: 20px;
    }
    .home-container{
        overflow: scroll;
    }
}