.root {
  font-family: "Poppins", sans-serif;
  float: 1;
}
.events {
  margin-left: 20%;
}
.error-note {
  margin-top: 0%;
  text-align: center;
  width: 200ch;
  transform: translateY(-10%);
}
.note {
  margin: 20%;
}
.empty {
  float: right;
  text-align: center;
  width: 100%;
}
.link-profile {
  text-decoration: none;
  color: #6c63fe;
}
.profile-container {
  margin-left: 120px;
  margin-top: 7%;
}
@media only screen and (max-width: 35em) {
  .profile-container {
    height: 100vh;
    margin-top: 20%;
    padding-bottom: 0;
    margin-left: 3%;
  }
  .empty {
    width: 70%;
    height: 50vh;
  }
}
img {
  min-height: 250px;
}
@media (min-width: 1921px) and (max-width: 2560px) {
  .error-note {
    width: 300ch;
    height: 100vh;
    padding-top: 10%;
  }
}
@media (min-width: 1281px) and (max-width: 1441px) {
  .error-note {
    width: 300ch;
    height: 100vh;
    padding-top: 05%;
  }
  .empty {
    height: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .error-note {
    padding: 10%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .error-note {
    margin-top: 10%;
  }
  .empty {
    margin-left: 0;
    transform: translateX(-20%);
  }
}
