$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;
$blue-accent:#6C63FE;

$white:#E6E6E6;
$dark:#3F3D56;
$blue:#6C63FE;


$f1: 'Poppins', sans-serif;

.root{
    font-family: $f1;
    float: 1;
}

.events{
    margin-left: 20%;
}
.error-note{
    margin-top: 0%;
    text-align: center;
    width: 200ch;
    transform: translateY(-10%);
}

.note{
    margin: 20%;
}
.empty{
    float: right;
    text-align: center;
    width: 100%;
}

.link-profile{
    text-decoration: none;
    color:$blue-accent;
}
.profile-container{
    margin-left: 120px;
    margin-top: 7%;
}

@media only screen and (max-width: 35em){
    .profile-container{
        // overflow: hidden;
        // position: absolute;
        height: 100vh;
        margin-top: 20%;
        padding-bottom: 0;
        margin-left: 3%;
    }
    .empty{
        width: 70%;
        height: 50vh;
    }
    
}
img{
    min-height: 250px;
}


@media (min-width: 1921px) and (max-width:2560px) {
    .error-note{
        width: 300ch;
        height: 100vh;
        padding-top: 10%;
    }
}

@media (min-width: 1281px) and (max-width:1441px) {
    .error-note{
        width: 300ch;
        height: 100vh;
        padding-top: 05%;
    }
    .empty{
        height: 70%;
    }
}

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
    
  }

  @media (min-width: 768px) and (max-width: 1025px) {
    .error-note{
        padding: 10%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    .error-note{
        margin-top: 10%;
    }
    .empty{
        margin-left: 0;
        transform: translateX(-20%);
    }
  }

