$dark:#1E1E30;
$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;
$f1: 'Poppins', sans-serif;
*{
    font-family: $f1;
}
.event-tile{
    border:1px solid red;
    width: 80ch;
    margin-top: 2vh;
    padding: 2%;
}
.event-title{
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.event-category{

}
.event-venue{
    display: block;
    float: right;
}

.event-phone{
    display: block;
    float: right;
}