$dark:#1E1E30;
$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;
$blue-accent:#6C63FE;
$f1: 'Poppins', sans-serif;
$white:#E6E6E6;
.signup-container{
    background-color: $white;
    border: 7px solid $blue-accent;
    flex: 1;
    overflow: hidden;
    margin-left: 90px;
     height: 98.5vh;
}
.signup-box{
    width: 75%;
    height: 70vh;
    margin-top: 10%;
    margin-left: 10ch;
}
.connect-container{
   overflow: hidden;
   
}

.form{
    height: 50%;
}
.avatar-container{
    margin-top: 0;
    margin-top: 0vh;
    text-align: center;
}
.avatar{
    padding: 0;
    height: 50%;
    width: 35%;
    overflow: hidden;
}
.login-link{
    font-family: $f1;
    text-decoration: none;
}
.login{
    font-family: $f1;
    font-size: 1.1em;
}
.input{
    background-color: $dark;
    border-radius: 7px;
    border: 0px;
    width: 70%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2%;
    color:white !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.input:focus {
    outline: none !important;
    border: 2.5px solid white;
    box-shadow: 0 0 10px $blue-accent;
}
.input::placeholder{
    font-family: 'Work Sans', sans-serif;
    color:white;
    opacity: 0.8;
    font-size: 1.3em;
}

.note{
    text-align: center;
    transform: translateY(-120%);
}

.signup-button{
    font-size: 1.2em;
    font-weight: 100;
    color: white;
    border-radius: 5px;
    background-color: $blue-accent;
    border: 1px solid black;
    padding: 1.5%;
    margin-left: 5%;
    cursor: pointer;
    transform: translateY(-500%);
}

.connect{
    width: 90%;
}
.signup-button:hover, .signup-button:active{
    color: white;
    background-color:$dark;
}

@media screen and (min-width: 1400px) {
    .note{
        transform: translateY(-160%);
        font-size: 1.2em;
    }
    .signup-box{
        margin-top: 20%;
    }
    .connect-container{
        margin-top: 15%;
    }
    .signup-button{
        transform: translateY(-400%);
    }
}
  
  @media screen and (min-width: 1600px) {
    
  }
  
  @media screen and (min-width: 1900px) {
    .note{
        transform: translateY(-230%);
        font-size: 1.5em;
    }
    .signup-box{
        margin-top: 20%;
    }
    .signup-button{
        transform: translateY(-500%);
    }
    .connect-container{
        margin-top: 20%;
    }
  }

  
    @media (min-width: 768px) and (max-width: 1024px) {
     
        .note{
            transform: translateY(-70%);
            font-size: 1.1em;
        }
        .signup-box{
            margin-top: 50%;
            width: 90%;
        }
        .connect-container{
            margin-top: 20%;
        }
        .signup-button{
            transform: translateY(-300%);
        }
        .connect-container{
            margin-top: 8%;
        }
    }
    
    @media (min-width: 558px) and (max-width: 959px)  {
        
    }
  
    
    @media (max-width: 558px) {
        .signup-box{
            height: 100vh;
            margin-left: 5%;
            margin-top: 2%;
            width: 90%;
            margin-top: 40%;
            padding-bottom: 0;
        }
        .avatar{
            height: 40%;
            width: 50%;
        }
        .input{
            margin-top: 5%;
        }
        .note{
            margin-top: 10%;
            font-size: 1em;
        }
        .signup-button{
            margin-top: 10%;
        }
        .signup-container{
            margin-left: 0;
            height: 100vh;
           
            border:7px solid $blue-accent;
        }
       
    }
    
  
    
    @media (min-width: 375px) and (max-width: 425px) {
      
    }
  
  @media (max-width:375px)  {
    
  }