.signup-container {
  background-color: #e6e6e6;
  border: 7px solid #6c63fe;
  flex: 1;
  overflow: hidden;
  margin-left: 90px;
  height: 98.5vh;
}
.signup-box {
  width: 75%;
  height: 70vh;
  margin-top: 10%;
  margin-left: 10ch;
}
.connect-container {
  overflow: hidden;
}
.form {
  height: 50%;
}
.avatar-container {
  margin-top: 0;
  margin-top: 0vh;
  text-align: center;
}
.avatar {
  padding: 0;
  height: 50%;
  width: 35%;
  overflow: hidden;
}
.login-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.login {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
}
.input {
  background-color: #1e1e30;
  border-radius: 7px;
  border: 0px;
  width: 70%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 2%;
  color: white !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.input:focus {
  outline: none !important;
  border: 2.5px solid white;
  box-shadow: 0 0 10px #6c63fe;
}
.input::placeholder {
  font-family: "Work Sans", sans-serif;
  color: white;
  opacity: 0.8;
  font-size: 1.3em;
}
.note {
  text-align: center;
  transform: translateY(-120%);
}
.signup-button {
  font-size: 1.2em;
  font-weight: 100;
  color: white;
  border-radius: 5px;
  background-color: #6c63fe;
  border: 1px solid black;
  padding: 1.5%;
  margin-left: 5%;
  cursor: pointer;
  transform: translateY(-500%);
}
.connect {
  width: 90%;
}
.signup-button:hover,
.signup-button:active {
  color: white;
  background-color: #1e1e30;
}
@media screen and (min-width: 1400px) {
  .note {
    transform: translateY(-160%);
    font-size: 1.2em;
  }
  .signup-box {
    margin-top: 20%;
  }
  .connect-container {
    margin-top: 15%;
  }
  .signup-button {
    transform: translateY(-400%);
  }
}
@media screen and (min-width: 1900px) {
  .note {
    transform: translateY(-230%);
    font-size: 1.5em;
  }
  .signup-box {
    margin-top: 20%;
  }
  .signup-button {
    transform: translateY(-500%);
  }
  .connect-container {
    margin-top: 20%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .note {
    transform: translateY(-70%);
    font-size: 1.1em;
  }
  .signup-box {
    margin-top: 50%;
    width: 90%;
  }
  .connect-container {
    margin-top: 20%;
  }
  .signup-button {
    transform: translateY(-300%);
  }
  .connect-container {
    margin-top: 8%;
  }
}
@media (max-width: 558px) {
  .signup-box {
    height: 100vh;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    margin-top: 40%;
    padding-bottom: 0;
  }
  .avatar {
    height: 40%;
    width: 50%;
  }
  .input {
    margin-top: 5%;
  }
  .note {
    margin-top: 10%;
    font-size: 1em;
  }
  .signup-button {
    margin-top: 10%;
  }
  .signup-container {
    margin-left: 0;
    height: 100vh;
    border: 7px solid #6c63fe;
  }
}
