.signup-container {
  flex: 1;
  margin-left: 100px;
  border: 1px solid red;
  overflow: hidden;
}
.signup-box {
  width: 80ch;
  margin-top: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.connect-container {
  position: absolute;
  overflow: hidden;
  border: 1px solid red;
  z-index: -1;
}
.connect {
  border: 1px solid red;
  width: 120%;
}
.tab {
  height: 5vh;
  background-color: #1e1e30;
  width: 100%;
}
.link1,
.link2 {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #cbe2ef;
  font-size: 1.6em;
}
.link2 {
  margin-top: 5px;
  float: right;
  padding-right: 15%;
}
.link1 {
  margin-top: 5px;
  float: left;
  padding-left: 15%;
}
.avatar-container {
  margin-top: 2%;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
.avatar {
  width: 50%;
}
.form {
  border: 1px solid red;
  margin-top: 0%;
}
.input {
  background-color: black;
  border-radius: 7px;
  border: 0px;
  width: 70%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 2%;
  color: black !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.input:focus {
  outline: none !important;
  border: 2.5px solid white;
  box-shadow: 0 0 10px #719ece;
}
.input::placeholder {
  font-family: "Work Sans", sans-serif;
  color: black;
  opacity: 0.8;
  font-size: 1.3em;
}
.note {
  text-align: center;
}
.button {
  font-size: 1.2em;
  font-weight: 100;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1.5%;
  margin-left: 5%;
  margin-top: 5%;
  cursor: pointer;
}
.button:hover,
.button:active {
  color: black;
  background-color: red;
}
