$dark:#1E1E30;
$navy:#254e7b;
$blue:#5584b1;
$lightBlue:#85c1e5;
$light:#cbe2ef;
$cream:#f8f3ea;
$blue-accent:#6C63FE;
$f1: 'Poppins', sans-serif;

.home-content-container{
    flex:1;
    font-family: $f1;
    margin-left:100px;
    height: 100vh;
}



.addEvent-container{
    margin-top: 25vh;
    margin-left: 0ch;
    height: 50vh;
}

.add{
    margin-left: 5%;
    font-size: 2.2em;
}


.add-input{
    background-color:$dark;
    border-radius: 7px;
    border: 0px;
    width: 70%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 2%;
    color:white !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}


.add-input:focus {
    outline: none !important;
    border: 2.5px solid white;
    box-shadow: 0 0 10px $blue-accent;
}
.add-input::placeholder{
    font-family: 'Work Sans', sans-serif;
    color:white;
    opacity: 0.8;
    font-size: 1.3em;
}
.location-h1{
    margin-left: 5%;
}
.add-select{
    padding: 1%;
    margin: 2%;
    margin-left: 5%;
    margin-bottom: 0;
    font-size: 1.2em;
    background-color: $dark;
    color: white;
}


.add-button{
    font-size: 1.2em;
    font-weight: 100;
    color: white;
    border-radius: 5px;
    background-color: $blue-accent;
    padding: 1.5%;
    margin-left: 5%;
    margin-top: 3%;
    cursor: pointer;
}
.animation-container{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    transform: translateY(-20%);
}

.notify-link{
    text-decoration: none;
    color: $blue-accent;
    margin: 0;
    padding: 0;
}
.add-button:hover, .button:active{
    color: white;
    background-color:$dark;
}

.add-container{
    overflow: hidden;
}


.next{
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    background-color: $blue-accent;
    padding: 1.5%;
    margin-right: 20%;
    float: right;
    margin-top: 3%;
    cursor: pointer;
}

.next:hover, .next:active{
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    background-color: $dark;
    padding: 1.5%;
    margin-right: 20%;
    float: right;
    margin-top: 3%;
    cursor: pointer;
}

.nextDisabled{
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    background-color: $dark;
    opacity: 0.5;
    padding: 1.5%;
    margin-right: 20%;
    float: right;
    margin-top: 3%;
    cursor: none;
}
.previous{
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    background-color: $blue-accent;
    padding: 1.5%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.previous:disabled, .previous:active{
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    background-color: $dark;
    opacity: 0.5;
    padding: 1.5%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.previousDisabled{
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    background-color: $dark;
    padding: 1.5%;
    margin-top: 3%;
    margin-left: 5%;
    cursor: none;
}


@media only screen and (max-width: 600px) {
    .home-content-container{
        margin-left: 20px;
    }
    .add-container{
        overflow: scroll;
    }
    
}


@media (min-width: 1281px) and (max-width:1440px) {
    
}

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
    
  }

  @media (min-width: 768px) and (max-width: 1024px) {
   
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }

  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  

  
  @media (min-width: 320px) and (max-width: 480px) {
    
  }

