* {
  font-family: "Poppins", sans-serif;
}
.home-content-container {
  flex: 1;
  margin-left: 100px;
  height: 100vh;
}
.addEvent-container {
  margin-top: 25vh;
  margin-left: 0ch;
  height: 50vh;
}
.add {
  margin-left: 5%;
  font-size: 2.2em;
}
.add-input {
  background-color: #1e1e30;
  border-radius: 7px;
  border: 0px;
  width: 70%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 2%;
  color: white !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.add-input:focus {
  outline: none !important;
  border: 2.5px solid white;
  box-shadow: 0 0 10px #6c63fe;
}
.add-input::placeholder {
  font-family: "Work Sans", sans-serif;
  color: white;
  opacity: 0.8;
  font-size: 1.3em;
}
.location-h1 {
  margin-left: 5%;
}
.add-select {
  padding: 1%;
  margin: 2%;
  margin-left: 5%;
  margin-bottom: 0;
  font-size: 1.2em;
  background-color: #1e1e30;
  color: white;
}
.add-button {
  font-size: 1.2em;
  font-weight: 100;
  color: white;
  border-radius: 5px;
  background-color: #6c63fe;
  padding: 1.5%;
  margin-left: 5%;
  margin-top: 3%;
  cursor: pointer;
}
.add-button:hover,
.button:active {
  color: white;
  background-color: #1e1e30;
}
.add-container {
  overflow: hidden;
}
.next {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: #6c63fe;
  padding: 1.5%;
  margin-right: 20%;
  float: right;
  margin-top: 3%;
  cursor: pointer;
}
.next:hover,
.next:active {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: #1e1e30;
  padding: 1.5%;
  margin-right: 20%;
  float: right;
  margin-top: 3%;
  cursor: pointer;
}
.nextDisabled {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: #1e1e30;
  padding: 1.5%;
  margin-right: 20%;
  float: right;
  margin-top: 3%;
  cursor: none;
}
.previous {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: #6c63fe;
  padding: 1.5%;
  margin-top: 3%;
  margin-left: 5%;
  cursor: pointer;
}
.previous:disabled,
.previous:active {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: #1e1e30;
  padding: 1.5%;
  margin-top: 3%;
  margin-left: 5%;
  cursor: pointer;
}
.previousDisabled {
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  background-color: #1e1e30;
  padding: 1.5%;
  margin-top: 3%;
  margin-left: 5%;
  cursor: none;
}
.map-container {
  border: 2px solid red;
}
@media only screen and (max-width: 600px) {
  .home-content-container {
    margin-left: 20px;
  }
  .add-container {
    overflow: scroll;
  }
}
